* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.field {
   position: relative;
   background-color: #75e96b;
   height: 100vh;
   width: 80vw;
   margin: auto;
   border-radius: 45%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .crease {
   background-color: blanchedalmond;
   height: 250px;
   width: 70px;
   border-radius: 10px;
   transform: translateY(-150px);
   display: flex;
   justify-content: flex-end;
 }
         
 
 .bat {
   width: 20px;
   height: 60px;
   border-radius: 70px 70px 30px 30px;
   background-color: #eee;
   box-shadow:  2px 2px 2px #888;
   position: relative;
   transform: rotate(10deg);
   transform-origin: 100% 0%;
   /* transition: transform 700ms ease-in-out; */
 }
   /* /* 
   transition-delay: 1.4s
 } */

body:hover .bat{
    animation: hitting .65s ease-in-out 0s 2 alternate forwards;
   /* transform: rotate3d(.7, .5, .5, 90deg);
   transform-origin: 100% 0%; */
 }
 
#idd {
   position: relative;
   width: 7px;
   height: 40px;
   background-color: #dabd98;
   border-radius: 20px;
   top: -30px;
   left: 7px;
}

 
.ball {
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background-color: rgb(228, 83, 83);
   position: relative;
   top: 250px;
   left: -30px;
}

body:hover .ball {
   animation: anim 2s ease-out 1 normal;
   animation-fill-mode: forwards;
}

.ball-grip {
   position: relative;
   left: 6px;
   height: 15px;
   width: 2px;
   border: white dotted 1px ;
}


.jhankar-dadu {
   position: fixed;
   height: 80px;
   /* transform: translate(100px, -100px); */
   bottom: 20%;
   left: 30%;
   transition: transform .5s ease-out 1.3s;
}

body:hover .jhankar-dadu {
   transform: translate(125px, -125px);
}

.jhankar-dadu img {
   height: 100%;
}
 
@keyframes anim{
             0%{
               top: 250px;
               left: -30px;
             }
             25%{
               top: 100px;
               left: -32px;
             }
             40% {
               top: 5px;
               left: -25px;
             }
             
             100%{
                 top: 400px;
                 left: -180px;
             }
         }

@keyframes hitting {
   from {
      transform: rotate(10deg);transform-origin: 100% 0%;
   }
   to {
      transform: rotate3d(.7, .5, .5, 90deg);
      transform-origin: 100% 0%;
   }
}